In [ ]:
import pandas as pd
from sqlalchemy import create_engine
from getpass import getpass
from urllib.parse import quote_plus

pd.set_option('display.max_columns', None)

In [ ]:
host = 'aws-1-us-east-1.pooler.supabase.com'.strip()
port = '5432'.strip()
database = 'postgres'.strip()
user = 'candidato.jdazostyahhxukbmxybw'.strip()
password = 'DesafioInov@2026!'
password_cod = quote_plus(password)

connection_string = f"postgresql+psycopg2://{user}:{password_cod}@{host}:{port}/{database}"

try:
    engine = create_engine(connection_string)
    with engine.connect() as connection:
        print("Conexão bem-sucedida!")
except Exception as e:
    print(f"Erro ao conectar: {e}")

In [24]:
'''
Questão 1: Existem pagamentos sem empenho associado?
'''

query_pagamentos = """
SELECT * FROM pagamento
WHERE id_empenho IS NULL;
"""

df_resultado = pd.read_sql(query_pagamentos, engine)

print("Quantidade de pagamentos sem empenho:")
display(df_resultado)

Quantidade de pagamentos sem empenho:

Empty DataFrame
Columns: [id_empenho, id_pagamento, datapagamentoempenho, valor]
Index: []

In [25]:
'''
Questão 2: Existem liquidações sem empenho vinculado?
'''

query_liq = """
SELECT * FROM liquidacao_nota_fiscal
WHERE id_empenho IS NULL
"""

df_resultado = pd.read_sql(query_liq, engine)

print("Quantidade de liquidações sem empenho:")
display(df_resultado)

Quantidade de liquidações sem empenho:

Empty DataFrame
Columns: [id_liquidacao_empenhonotafiscal, chave_danfe, data_emissao, valor, id_empenho]
Index: []

In [27]:
'''
Questão 3: Existem empenhos sem contrato?
'''

query_emp = """
SELECT * FROM empenho
WHERE id_contrato IS NULL
"""

df_resultado = pd.read_sql(query_emp, engine)

print("Quantidade de empenhos sem contrato:")
display(df_resultado)

Quantidade de empenhos sem contrato:

Empty DataFrame
Columns: [id_empenho, ano, data_empenho, cpfcnpjcredor, credor, valor, id_entidade, id_contrato]
Index: []

In [28]:
'''
Questão 4: Existem empenhos sem entidade?
'''

query_empenho = """
SELECT * FROM empenho
WHERE id_entidade IS NULL
"""

df_resultado = pd.read_sql(query_empenho, engine)

print("Quantidade de empenhos sem entidade:")
display(df_resultado)

Quantidade de empenhos sem entidade:

Empty DataFrame
Columns: [id_empenho, ano, data_empenho, cpfcnpjcredor, credor, valor, id_entidade, id_contrato]
Index: []

In [57]:
'''
Questão 5: Existem contratos sem entidade ou fornecedor?
'''

query_contratos = """
SELECT * FROM contrato
WHERE id_contrato IS NULL
"""

query_forn = """
SELECT * FROM contrato
WHERE id_fornecedor IS NULL
"""

df_resultado = pd.read_sql(query_contratos, engine)
df_resultado2 = pd.read_sql(query_forn, engine)

print("Quantidade de contratos sem entidade:")
display(df_resultado)
print("Quantidade de contratos sem fornecedores:")
display(df_resultado2)

Quantidade de contratos sem entidade:

Empty DataFrame
Columns: [id_contrato, valor, data, objeto, id_entidade, id_fornecedor]
Index: []

Quantidade de contratos sem fornecedores:

Empty DataFrame
Columns: [id_contrato, valor, data, objeto, id_entidade, id_fornecedor]
Index: []

In [58]:
'''
Questão 6: O valor de algum contrato é maior que o valor empenhado para a despesa pública?
'''

query_contrato = """
SELECT id_contrato, valor as valor_teto_contrato FROM contrato
"""

query_empenho = """
SELECT id_empenho, id_contrato, valor as valor_reservado_empenho FROM empenho
"""

df_contratos = pd.read_sql(query_contrato, engine)
df_empenhos = pd.read_sql(query_empenho, engine)

analise_teto = pd.merge(df_contratos, df_empenhos, on = 'id_contrato', how='inner')

contratos = analise_teto[analise_teto['valor_reservado_empenho'] > analise_teto['valor_teto_contrato']]

print(f"Empenhos que estouraram o valor do contrato: {len(contratos)}")
display(contratos)

Empenhos que estouraram o valor do contrato: 150

     id_contrato  valor_teto_contrato id_empenho  valor_reservado_empenho
0           1001             20980.58      EMP-1                 34617.96
1           1002             26021.35     EMP-10                 42935.23
2           1003             25384.45    EMP-100                 41884.34
3           1004             15924.19    EMP-101                 26274.91
4           1005             30930.82    EMP-102                 51035.85
..           ...                  ...        ...                      ...
145         1146              8662.18    EMP-230                 14292.60
146         1147             48827.01    EMP-231                 80564.57
147         1148             37448.38    EMP-232                 61789.83
148         1149              7040.31    EMP-233                 11616.51
149         1150             36763.38    EMP-234                 60659.58

[150 rows x 4 columns]

In [69]:
query_investigacao_total = """
SELECT 
    -- Selecionando colunas da tabela Pagamento (apelido 'p')
    p.id_pagamento,
    p.datapagamentoemp. AS data_pagamento,
    p.valor AS valor_pago,
    
    -- Selecionando colunas da tabela Empenho (apelido 'e')
    e.id_empenho,
    e.valor AS valor_empenhado,
    
    -- Selecionando colunas da tabela Contrato (apelido 'c')
    c.id_contrato,
    c.valor AS valor_teto_contrato

FROM pagamento p
-- 1. Costurando Pagamento com Empenho
INNER JOIN empenho e ON p.id_empenho = e.id_empenho

-- 2. Costurando o resultado disso com Contrato
INNER JOIN contrato c ON e.id_contrato = c.id_contrato
"""

df_raio_x = pd.read_sql(query_investigacao_total, engine)
display(df_raio_x)

DatabaseError: Execution failed on sql '
SELECT
    -- Selecionando colunas da tabela Pagamento (apelido 'p')
    p.id_pagamento,
    p.datapagamentoemp. AS data_pagamento,
    p.valor AS valor_pago,

    -- Selecionando colunas da tabela Empenho (apelido 'e')
    e.id_empenho,
    e.valor AS valor_empenhado,

    -- Selecionando colunas da tabela Contrato (apelido 'c')
    c.id_contrato,
    c.valor AS valor_teto_contrato

FROM pagamento p
-- 1. Costurando Pagamento com Empenho
INNER JOIN empenho e ON p.id_empenho = e.id_empenho

-- 2. Costurando o resultado disso com Contrato
INNER JOIN contrato c ON e.id_contrato = c.id_contrato
': (psycopg2.errors.UndefinedTable) missing FROM-clause entry for table "datapagamentoemp"
LINE 5:     p.datapagamentoemp. AS data_pagamento,
            ^

[SQL:
SELECT
    -- Selecionando colunas da tabela Pagamento (apelido 'p')
    p.id_pagamento,
    p.datapagamentoemp. AS data_pagamento,
    p.valor AS valor_pago,

    -- Selecionando colunas da tabela Empenho (apelido 'e')
    e.id_empenho,
    e.valor AS valor_empenhado,

    -- Selecionando colunas da tabela Contrato (apelido 'c')
    c.id_contrato,
    c.valor AS valor_teto_contrato

FROM pagamento p
-- 1. Costurando Pagamento com Empenho
INNER JOIN empenho e ON p.id_empenho = e.id_empenho

-- 2. Costurando o resultado disso com Contrato
INNER JOIN contrato c ON e.id_contrato = c.id_contrato
]
(Background on this error at: https://sqlalche.me/e/20/f405)