In [9]:
import pandas as pd
from sqlalchemy import create_engine
from getpass import getpass
from urllib.parse import quote_plus

pd.set_option('display.max_columns', None)

In [10]:
host = 'aws-1-us-east-1.pooler.supabase.com'.strip()
port = '5432'.strip()
database = 'postgres'.strip()
user = 'candidato.jdazostyahhxukbmxybw'.strip()
password = 'DesafioInov@2026!'
password_cod = quote_plus(password)

connection_string = f"postgresql+psycopg2://{user}:{password_cod}@{host}:{port}/{database}"

try:
    engine = create_engine(connection_string)
    with engine.connect() as connection:
        print("Conexão bem-sucedida!")
except Exception as e:
    print(f"Erro ao conectar: {e}")

Conexão bem-sucedida!

In [18]:
query_pagamentos = """
SELECT nome
FROM fornecedor
"""

df_resultado = pd.read_sql(query_pagamentos, engine)

print("Quantidade de pagamentos sem empenho:")
display(df_resultado)

Quantidade de pagamentos sem empenho:

                        nome
0        TechServer Solucoes
1      ConstruRio Engenharia
2           LimpMax Servicos
3          Papelaria Central
4       Seguranca Total Ltda
5         Transportes Rapido
6      Merenda Boa Alimentos
7   Saude Vida Distribuidora
8            Eventos & Promo
9    Consultoria Estrategica
10          Obras Viarias RJ
11               TI Inovacao